.container {
    width: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.activeButton {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}