.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitButtonDiv {
    width: 590px;
    display: flex;
    justify-content: end;
    gap: 15px;
}
.cancelButton {
    width: 140px;
    height: 67px;
    border-radius: 15px;
    background-color: white;
    color: #000000;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
    cursor: pointer;
}
.submitButton {
    width: 140px;
    height: 67px;
    border-radius: 15px;
    background-color: #000000;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
    cursor: pointer;
}
.error {
    width: 570px;
    color: red;
}