.subTitle {
    font-size: 40px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.addIdCard {
    width: 590px;
    font-size: 28px;
    color: #1C5496;
    margin-top: 20px;
    cursor: pointer;
}
.idCardImageName {
    width: 590px;
    margin-top: 20px;
    cursor: pointer;
}
.errorMessage {
    color: red;
    margin: 5px;
}