:root {
  font-family: 'Pretendard Variable', sans-serif;

  margin: 0;
  padding: 0;

  font-size: 16px;

  color: #222222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0px;
}
input:focus {
  outline: none;
}
a {
  color: #000000;
  text-decoration: none;
}
